//@use 'mixins';

//@include mixins.configure(
 // $font: 'Avenir LT Std Book',
//);
@use 'mixins' with (
  $black: #222,
  $border-radius: 0.1rem
);



@use 'scss/font.scss' with (
  $fuente: "Avenir LT Std Medium"
);


*{
  @include font.font;
 
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
